<div class="row animated fadeIn" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info">
            No existen resultados con el término  <b>{{input}}</b> 
        </div>
    </div>
</div>


<div class="card-columns">
    <div class="card" *ngFor="let item of heroes; let i = index">
        <img [src]="item.img" class="img-fluid" [alt]="item.nombre">
        <div class="card-body">
            <h5 class="card-title">{{item.nombre}}</h5>
            <p class="card-text">{{item.bio}}</p>
            <p class="card-text"><small class="text-muted">{{item.aparicion}}</small></p>
            <button [routerLink]="['/detalle-heroe', i]" class="btn btn-warning">Ver más</button>
        </div>
    </div>
</div>